.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  background-color: #E8E8E8;
}

.navigationTarget {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  a {
    font-size: 24px;
    font-weight: bold;
    margin: 34px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 2px solid black;
  }
}

.btnLogReg{
    width: 150px;
    height: 47px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: #E8E8E8;
    cursor: pointer;
}
